tests
audio.mp3
secret.json
audio.mp3
.vscode/settings.json
lib/__pycache__/calendarRec.cpython-310.pyc
connect/res.json
connect/command.json
setting.json
lib/__pycache__/calendarRec.cpython-310.pyc
lib/__pycache__/chooseCommand.cpython-310.pyc
lib/__pycache__/theLight.cpython-310.pyc
lib/__pycache__/theWeather.cpython-310.pyc
setupAndLaunch/key.txt
audio.mp3
