#Standard file
.vscode
__pycache__
.ruff_cache
.idea

#genereted file
poetry.lock
boot.sh

#Enviroments
env
virgil-env

# Pytest file
.pytest_cache
.coverage
htmlcov

# File always in the directory
connect/command.json
connect/res.json
setup/key.txt

# Test with test files
tests
trys
nohup.out

# Some audio file
audio.mp3
music.wav

# English model 
model/model_en.pkl






